.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 50px;

  &__name {
    margin: 0 0 50px;
    max-width: 800px;
    height: 20px;
    padding: 20px;
    border: 2px solid #42b4ca;
    outline-color: #00ff00;
    width: 100%;
  }
}
