.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 50px;

  &__name {
    margin-bottom: 50px;
    width: 800px;
    height: 20px;
    padding: 20px;
    outline-color: #00ff00;
  }
}
