.messageNotFound {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  overflow: scroll;
  top: 0;

  &__title {
    color: white;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
    font-weight: 700px;
    color: #42b4ca;
  }
  &__text {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    text-align: center;

    @media (min-width: 1200px) {
      font-size: 30px;
    }
  }

  &__number {
    color: #adef95;
    font-size: 200px;
    padding-bottom: 30px;

    @media (min-width: 1200px) {
      font-size: 320px;
    }
  }
  &__link {
    border-radius: 30px;
    color: #9ed9da;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 15px;
    width: 200px;
    text-align: center;
    border: 2px solid #42b4ca;

    @media (min-width: 1200px) {
      font-size: 20px;
    }
  }
}
