.messageNotFound {
  background-color: #66917b;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  &__title {
    color: white;
    font-size: 45px;
    margin: 45px 0;
    font-weight: 700px;
  }
  &__text {
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
  }

  &__number {
    color: #f8e750;
    font-size: 400px;
  }
  &__link {
    border-radius: 30px;
    color: #9ed9da;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 20px;
    width: 200px;
    text-align: center;
  }
}
