body {
  background-color: lightblue;
  font-family: Roboto;
  margin: 0 20px;
}

.filters {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}
